<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>

<body>
    <a href="{% url 'leads:lead_list' %}">Go back to leads</a>
    <hr>
    <h1>These are the details of lead {{ lead.first_name}} {{ lead.last_name}}</h1>

    <p> This lead's age is {{lead.age}}</p>

    <p>Agent for this lead is {{lead.agent}}</p>
    <hr>

    <a href="{% url 'leads:lead_update' lead.pk %}">Update</a>
    <a href="{% url 'leads:lead_delete' lead.pk %}">Delete</a>


</body>

</html>